flutter build web --release --dart-define=SUPABASE_URL="https://kfadfcljjtgkuymcgfqk.supabase.co" --dart-define=SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtmYWRmY2xqanRna3V5bWNnZnFrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE3ODAxNjYsImV4cCI6MjA5NzM1NjE2Nn0.DhCfzzSpFVXTFreKaa5WZjtnc8Yso2HACaOISiNWALE" --dart-define=GAME_MASTER_MODE="remote" --dart-define=GAME_MASTER_BACKEND_URL="https://gentle-nature-production-4453.up.railway.app"