.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/

.env
.env.local

*.iml
*.jks
*.key
*.p8
*.p12
*.pem
*.mobileprovision
*.orig.*

.DS_Store

*.md
!README.md
